
// 白天
$light = {
  whiteFontColor: #fff,
  baseYellowColor: #F0B310,
  baseFontColor: #222,
  vagueFontColor: #919191,
  btnColor: #fff,
  btnBgColor: #F0B310
};
// 黑夜
$dark = {
  whiteFontColor: #fff,
  baseYellowColor: #DAC087,
  baseFontColor: #D9D9D9,
  vagueFontColor: #919191,
  btnColor: #4F3A19,
  btnBgColor: #DAC087
};
// 主题色属性映射表
$mixinMap = {
  whiteFontColor: 'color',
  baseYellowColor: 'color',
  baseFontColor: 'color',
  vagueFontColor: 'color',
  btnColor: 'color',
  btnBgColor: 'background-color'
};
// 主题色发生器
themeGenerate(themeAttr){
  [data-theme = 'light'] & {
    {$mixinMap[themeAttr]}: $light[themeAttr];
  }
  [data-theme = 'dark'] & {
    {$mixinMap[themeAttr]}: $dark[themeAttr];
  }
}

// 示例
.btn {
  font-size: 16px;
  themeGenerate('baseYellowColor')
  themeGenerate('btnColor')
}